.divColor{  
   
   
    flex-direction: column-reverse;
    display: flex;
    padding: 5px;
    margin: 10px;
     
  
}
h2{
    margin: 15px;
    text-align: center;
}
#divDeColores{
    height: 200px;
align-items: center;
width: 60%;
text-align: center;
display: flex;
margin: 50px;
margin-left: 20%;
margin-bottom: 40px;
}
h1{
    text-align: center;
    color: white;
}
body{
    background-color: #4040ff ;
}
.divMayor{
    background-color: white;
    align-items: center;
    margin: 30px 50px;
    padding: 5%;

}
.p{
    margin: 30px
  
}
.divAleatoreo{
    height: 200px;
    align-items: center;
width: 60%;
text-align: center;
display: flex;
margin: 50px;
margin-left: 20%;
margin-bottom: 40px;
}
.footerSection{
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}
.dosP{
    display: flex;
}